<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swu.campus_buddy_matching_system.mapper.UserRoleMapper">

    <!-- batchInsert: Batch insert user-role associations -->
    <insert id="batchInsert">
        INSERT INTO user_role (user_id, role_id)
        VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>

    <!-- deleteByUserAndRole: Delete specific user-role association -->
    <delete id="deleteByUserAndRole">
        DELETE FROM user_role WHERE user_id = #{userId} AND role_id = #{roleId}
    </delete>

</mapper>